pre:has(code) {
  --uno: pr;
}

pre button.copy {
  --uno: pa top-2 right-2 size-8 fcc opacity-0 transition-opacity duration-300;

  span {
    --uno: text-4;

    &.ready {
      --uno: i-solar-clipboard-bold-duotone bg-primary;
    }

    &.success {
      --uno: i-solar-clipboard-check-bold-duotone hidden bg-green-6;
    }
  }

  &.copied span {
    &.success {
      --uno: block;
    }

    &.ready {
      --uno: hidden;
    }
  }
}

pre:hover button.copy {
  --uno: opacity-100;
}
